@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap');
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*{
    font-family: 'Dancing Script', cursive;
}

.menu{
    background-image:url(./../img/pexels-photo-306070.jpeg);
    background-size: cover;
    background-repeat:no-repeat  ;
    background-attachment:fixed ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.menu ul li{
    margin-right: 110px;
    margin-left: 40px;
}
.menu_c{
    background-image:url(./../img/pexels-photo-306070.jpeg);
    background-size: cover;
    background-repeat:no-repeat  ;
    background-attachment:fixed ;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.menu_c ul li{
    margin-right: 110px;
    margin-left: 40px;
}

.logo{
    margin-right: 200px;
}

.titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
    }
    

.caja{
    width: 500px;
    height: 280px;
    background-color: rgb(213, 236, 189);
    margin: 20px;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    border-radius: 30px;
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 0,10s; 
}
.caja_2{
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: 280px;
    background-color: rgb(213, 236, 189);
    margin: 20px;
    margin-left: 700px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 20px;
    border-radius: 30px;
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 3s; 
}
.caja h1{
    text-align: center;
   
    
}
 
.caja h2{
    text-align: center;
   
}

.foto{
    Justify-content:flex-end;
    position: absolute;
    left: 800px;
    top: 250px;
    bottom: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-animation:swing-in-top-fwd .8s cubic-bezier(.175,.885,.32,1.275) both;
    animation:swing-in-top-fwd .7s cubic-bezier(.175,.885,.32,1.275) both;
    animation-delay: 1s;
}
 
.foto_2{
    Justify-content:flex-end;
    position: absolute;
    right: 840px;
    top: 10px;
    bottom: 10px;
    margin-top: 1450px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-animation:swing-in-top-fwd .8s cubic-bezier(.175,.885,.32,1.275) both;
    animation:swing-in-top-fwd .7s cubic-bezier(.175,.885,.32,1.275) both;
    animation-delay: 4s;
}

h4{
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;  
    margin-bottom: 30px;
    color: black;
}
h4::after,h4::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}
h4::before{
    left: -410px;
}
h4::after{
    right:-410px;
}
footer a{
    display: contents;
    justify-content: center;
}
footer{
    background-color: rgb(245, 167, 180);
    text-align: center;
}

body{
    background-color: rgb(236, 201, 207);
    background-attachment: fixed;
}

.texto{
    font-family: 'Roboto', sans-serif; 
    color: black;
    
}


.cuerpo{
    background-color: rgb(213, 236, 189);
}

.tama単o{
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 120px;
    -webkit-animation:swing-in-top-fwd .8s cubic-bezier(.175,.885,.32,1.275) both;
    animation:swing-in-top-fwd .7s cubic-bezier(.175,.885,.32,1.275) both;
}
.tama単o:hover{
    transform: scale(1.1) translateY(-10px);
}

.t_1{
    animation-delay: 1s;
}
.t_2{
    animation-delay: 2s;
}
.t_3{
    animation-delay: 3s;
}
 
.redes{
    margin: 70px;
    bottom: 70px;
    font-family:'Roboto', sans-serif;  
    text-align: center;
 
}


.titulo_2{
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 0,10s;
}
.index{
    background-image: url("./../img/estrella.gif");
    background-size: 100%;
    background-attachment: fixed;
}

.logo{
    margin-left: 400px;
    margin-top: 0px;
}

.nombre{
    color: black;
    font-size: 80px;
}

.opciones a{
    cursor: default;
    transition: color 300ms;
    cursor: pointer;
    font-size: 30px;
}
 
.opciones a:hover{
    color:  rgb(245, 167, 180);
}

.galeria{
    gap: 20px;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.boton{
    font-size: 20px;
}

.boton_2{
    margin-top: 10px;
}

.tarjeta{
    background-color: rgb(236, 201, 207);
}
 
.tarjeta{
    display: flex;
    padding: 60px;
    gap: 40px;
}
.tarjetas{
    background-color: rgb(213, 236, 189);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    -webkit-animation:swing-in-top-fwd .8s cubic-bezier(.175,.885,.32,1.275) both;
    animation:swing-in-top-fwd .7s cubic-bezier(.175,.885,.32,1.275) both;
}

.tarjetas a:hover{
    filter: blur(2px);
}
 
.tarjeta_texto{
    font-family:'Roboto', sans-serif;  
    text-align: center;
 
}
 
 
.tarjeta_titulo{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-align: center;
}
 
.tarjeta_imagen{
    width: 100%;
}

.box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.box img{
    width: 75vw;
    max-height: 70vh;
}
.box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: white;
    color: black;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
}
.right{
    background-color: rgb(213, 236, 189);
}

.mensaje{
    margin-top: 15px;
    margin-right: 80px;
    margin-left: 10px;
}

.carrusel{
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 3s;
}



.slide-in-bck-center{-webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

 .swing-in-top-fwd{-webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}
@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}

 .tracking-in-expand{-webkit-animation:tracking-in-expand .9s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .9s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.scale-in-hor-left{-webkit-animation:scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes scale-in-hor-left{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}@keyframes scale-in-hor-left{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}

 .scale-in-hor-right{-webkit-animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes scale-in-hor-right{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}}@keyframes scale-in-hor-right{0%{-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}}

 
@media screen and (max-width: 768px){
    .logo{
        margin-left: 120px;
    }
    .caja{
        margin-left: 130px;
        margin-top: 50px;
    }
    .foto{
        left: 183px;
        margin-top: 500px;
    }
    .carrusel{
        margin-top: 500px;
    }
    .caja_2{
        margin-left: 130px;
        margin-top: 50px;
    }
    .foto_2{
        margin-top: 1840px;
        right: 183px;
    }
    footer{
        margin-top: 500px;
    }
    .tarjeta{
        display:inline;
    }
    .tarjetas{
        width: 80%;
        margin-left: 55px;
        margin-bottom: 50px;
        flex: 1;
    }
    .tama単o{
        margin-left: 240px;
        margin-top: 20px;
        margin-bottom: 30px;
    }  
    .contenedor{
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 480px){
    .logo{
        margin-left: 0px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .index{
        background-size: 100%;
        background-size: cover;
        background-repeat:no-repeat  ;
        background-attachment:fixed ;
    }
    .caja{
        margin-top: 60px;
        margin-left: 18px;
        width: 450px;
        height: 250px;
    }
    .foto{
        left: 45px;
        margin-top: 470px;
    }
    .carrusel{
        margin-top: 500px;
    }
    .caja_2{
        width: 450px;
        height: 250px;
        margin-left: 18px;
        margin-top: 55px;
    }
    .foto_2{
        right: 34px;
        margin-top: 1770px;
    }
    footer{
        margin-top: 500px;
    }
    .tama単o{
        margin-left: 103px;
    }
    .contenedor{
        grid-template-columns: 1fr;
    }
    
}

