.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .redes{
        margin: 70px;
        bottom: 70px;
        font-family:$fontroboto;  
        text-align: center;
     
    }   
}

.right{
    background-color:$secondaryColor;
}

.mensaje{
    @include margin(15px,80px,10px )
}

@mixin margin ($alto, $derecha, $izquierda, $abajo) {
    margin-top:$alto;
    margin-right:$derecha;
    margin-left:$izquierda;
    margin-bottom: $abajo;
    
}
