.index{
    background-image: url("./../img/estrella.gif");
    background-size: 100%;
    background-attachment: fixed;
    .opciones a{
        cursor: default;
        transition: color 300ms;
        cursor: pointer;
        font-size: 30px;
    }
     
    .opciones a:hover{
        color:  $mainColor;
    }
}
.main_index{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    width:550px; 
    height:400px;
}
.nombre{
    color: black;
    font-size: 80px;
}