@media screen and (max-width: 768px){
    .index{
        background-size: 100%;
        background-size: cover;
        background-repeat:no-repeat  ;
        background-attachment:fixed ;
        text-align: center;
        align-items: center;
    }
    .logo{
        margin-left: 120px;
    }

    .caja{
        margin-left: 130px;
        margin-top: 50px;
    }
    .foto{
        left: 183px;
        margin-top: 260px;
    }
    .carrusel{
        margin-top: 500px;
    }
    .caja_2{
        margin-left: 130px;
        margin-top: 50px;
    }
    .foto_2{
        margin-top: 1840px;
        right: 183px;
    }
    footer{
        margin-top: 500px;
    }
    .tarjeta{
        display:inline;
    }
    .tarjetas{
        width: 80%;
        margin-left: 55px;
        margin-bottom: 50px;
        flex: 1;
    }
    .tamaño{
        margin-left: 240px;
        margin-top: 20px;
        margin-bottom: 30px;
    }  
    .contenedor{
        grid-template-columns: 1fr;
    }
    
}


@media screen and (max-width: 480px){
    .logo {
        margin-left: 0px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .index {
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .caja {
        margin-top: 60px;
        margin-left: 15px;
        width: 350px;
        height: 350px;
      }
      .foto {
        left: 40px;
        margin-top: 320px;
      }
      .img{
        height:300px;
        width:300px;
    }
      .carrusel {
        margin-top: 370px;
      }
      .caja_2 {
        width: 350px;
        height: 350px;
        margin-left: 15px;
        margin-top: 46px;
      }
      .foto_2 {
        right: 34px;
        margin-top: 1820px;
      }
      footer {
        margin-top: 360px;
      }
      .tarjetas {
        margin-left: 39px;
      }
      .tamaño{
        margin-left: 39px;
      }
      .contenedor {
        grid-template-columns: 1fr;
      }
    
}

