@media screen and (max-width: 768px){
    .index{
        background-size: 100%;
        background-size: cover;
        background-repeat:no-repeat  ;
        background-attachment:fixed ;
        text-align: center;
        align-items: center;
    }
  
    .principal{
      flex-direction: column;
      
    }
   
    .carrusel {
      margin-top: 100px;
    }
    footer {
      margin-top: 100px;
    }
    .tarjeta{
        display:inline;
    }
    .tarjetas{
        width: 80%;
        margin-left: 55px;
        margin-bottom: 50px;
        flex: 1;
    }
    .tamaño{
        margin-left: 240px;
        margin-top: 20px;
        margin-bottom: 30px;
    }  
    .contenedor{
        grid-template-columns: 1fr;
    }
    
}


@media screen and (max-width: 480px){
      .index {
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .carrusel {
    margin-top: 100px;
  }
  footer {
    margin-top: 100px;
  }
      .tarjetas {
        margin-left: 39px;
      }
      .tamaño{
        margin-left: 39px;
      }
      .contenedor {
        grid-template-columns: 1fr;
      }
    
}

