 
body{
    background-color: rgb(236, 201, 207);
    background-attachment: fixed;
}
.menu{
    background-image:url(./../img/pexels-photo-306070.jpeg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-bottom: 20px;
    font-size: 30px;
    font-family:$fontdancingscript;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
  }