@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap');

$fontdancingscript:'Dancing Script';
$fontroboto:'Roboto', sans-serif; 

$mainColor:rgb(245, 167, 180);
$secondaryColor:rgb(213, 236, 189);